####################
# Enter some details:
####################

# Stuff for the Server
JWT_SECRET_KEY="somejwtkey"
SECRET_KEY="somekey"

#Creds for the WebGUi
DEFAULT_USERNAME="username"
DEFAULT_PASSWORD="password"
